/* tag generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearflix::after{
    content: "";
    display: table;
    clear: both;
    padding: 5px;
}

/* tag body */

#contenitore{
    /* height: auto; */
    margin: 2% 7%;
}

/* tag header */

.margin{
    margin-bottom: 2%;
}

header{
    height: 80px;
}

#logo{
    border-right: 1px solid lightgray;
    height: 100%; 
    background-size: contain;  
    background-image: url(../img/logo.png); 
    background-repeat: no-repeat;
    margin-right: 80%;
}

/* tag main */

.sopra{
    height: 600px;
    padding-bottom: 20px ;
}

li{
    list-style-type: none;
    display: inline-block;
    padding-right: 15px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: rgb(80, 77, 77);
}

nav{
    padding-bottom: 30px;
}

.bordo{
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/banner.jpg);
    
}

#banner{
    
    position:relative;
    
    
}

.sfondo1{
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    border-radius: 10px;
   
}

.text_banner{
    color: white;
    left:50px;
    top: 70%;
    position: absolute;
}

.text_banner > h1{
    font-size: 30px;
}

.text_banner > span{
    font-size: 15px;
}

/* tag della classe "sotto" */

.sfondo{
    background-color:rgb(112, 201, 204) ;
}

.title{
    height: 100px;
    margin-bottom: 1%;
    margin-top: 5%;
}

.title > h1{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -5px;
}

.title > span{
    font-size: 20px;
    color: rgb(80, 77, 77);
}

aside{
    height: 400px;
    width: 17%;
    float: left;
}

.center{
    height: 400px;
    width: 64%;
    float: left;
    margin: 0 1%;
    
}

.centratura{
    height: 50%;
    width: 100%;
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

/* tag footer */

footer{
    height: 40px;
    margin-top: 1%;
    padding-top: 20px;
    text-align: center;

}

footer > span{
    font-family: sans-serif;
}

footer > span::after{
    content: "\02764\0FE0F";
}